.recipe-single {
    .recipe {
        padding-top: 40px;
    
        &-block {
            border-radius: 10px;
            box-shadow: 0 0 5px rgb(0 0 0 / 20%);
            margin-bottom: 40px;

            &-top {
                > div:first-child {
                    padding-left: 0;
                }
            }

            &-mid {
                padding: 20px;

                p {
                    white-space: break-spaces;
                }
            }

            > div {
                hr {
                    display: none;
                }
            }
        }

        &-image {
            img {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }

        &-info {
            padding: 20px 0 0 0;

            .userIcon {
                padding-bottom: 2px;
            }
        }
        
        @media screen and (max-width: $md) {
            &-block {
                &-top {
                    > div:first-child {
                        padding: 0;
                    }
                }
            }

            &-image {
                height: 100%;

                img {
                    border-bottom-left-radius: 0;
                }

                > span {
                    height: 100% !important;
                }
            }
        }

        @media screen and (max-width: $sm) {
            &-image {
                img {
                    border-top-right-radius: 10px;
                }
            }
        }
    
        @media screen and (max-width: $xs) {
            padding-top: 0;

            &-block {
                box-shadow: none;
    
                &-mid {
                    padding: 0;
                }

                > div {
                    hr {
                        display: block;
                    }
                }

                margin-bottom: 0;
            }

            &-image {
                img {
                    border-top-right-radius: 0;
                    border-top-left-radius: 0;
                }
            }
        }
    }

}