//Default
html,
body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

// ##### Default #####
@import "default/nav";



// ##### Pages #####

// Recipes
@import "pages/recipes/index";
@import "pages/recipes/[id]";

//Manager
@import "pages/manager/index";



// ##### Components #####

//Recipes
@import "components/recipes/recipeList";

//Manager
@import "components/manager/managerOverview";